<%- include('../partials/header.ejs') %> 

<% const images = ['/images/damir-spanic-3fmQEhzIi44-unsplash.jpg', '/images/damir-spanic-Cs73R4ZO50E-unsplash.jpg', '/images/logan-weaver-u76Gd0hP5w4-unsplash.jpg', '/images/nathan-dumlao-NXMZxygMw8o-unsplash.jpg'] %> 

<div class="row workout-cards-container ">
<% workouts.forEach((workout, i) => { %>
    <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src=' <%= images[Math.floor(Math.random() * images.length)] %>' >
            <span class="card-title"><%= workout.name %> </span>
          </div>
          <div class="card-content">
            <p><%= workout.description %> </p>
          </div>
          <div class="card-action">
            <a href="/workouts/<%=workout.id %>">Go To Workout</a>
          </div>
        </div>
      </div>
        <% }) %> 
</div>




<%- include('../partials/footer.ejs') %> 