<%- include('../partials/header.ejs') %> 
<div class="row show-row">
    <div class="col s4 show-split-left">
        <h2 class="center workout-name-show"><%= workout.name %> </h2>
        <h5 class="workout-tip"><%= workout.tips %> </h5>

        <div class="show-details-container">
        <h5>Level: <span><%= workout.level.replace(workout.level[0], workout.level[0].toUpperCase()) %> </span></h5>

        <h5 class="">Bodyparts Used: </h5>
        <ul class="bodyparts-list-container ">
            <%workout.bodyparts.forEach(part => { %>
                <p class="bodyparts-list-items"><%= part %> </p>
                <% })  %> 
        </ul>

        <h6 class="show-description flow-text"><%= workout.description %> </h6>

        <div class="show-button-container">
            <form action="/workouts/<%= workout.id %>?_method=DELETE" method="POST">
                <button class="waves-effect waves-light btn-small delete"><i class="material-icons right">delete</i>Delete Workout</button>
            </form>
            
            <a href="/workouts/<%= workout.id %>/edit "class="waves-effect waves-light btn-small edit"><i class="material-icons right">edit</i>Edit Workout</a>
        </div>
    </div>
</div>    

    <div class="col s8 show-split-right">
        <div class="container">
        <h3 class="center workout-title-right-show">Workout</h3>
        <% workout.exercises.forEach(exercise => { %>
            <div class="exercise-for-workout-show-container">
                <h5 class="center col s12 exercise-name-workout-show"><a href="/exercises/<%= exercise.id %> "><%= exercise.name %></a></h5>
                <div class="center">
                    <p class="col s6">Sets: <span><%= exercise.sets %> </span></p>
                    <p class="col s6">Reps: <span><%= exercise.reps %> </span></p>
                </div>
            </div>
        <% }) %>  
    </div>   
    </div>
</div>

<%- include('../partials/footer.ejs') %> 