<%- include('./partials/header.ejs') %> 

<h1>This is the index page.</h1>
<div class="row">
<% workouts.forEach((workout, i) => { %>
    <div class="col s12 m3">
        <div class="card">
          <div class="card-image">
            <img src="https://cdn.shopify.com/s/files/1/0232/0543/products/8.CreatineSquare_09e50c7c-3ec4-4e7e-b537-fa655ca46a20_500x.jpg?v=1625076712">
            <span class="card-title"><%= workout.name %> </span>
          </div>
          <div class="card-content">
            <p><%= workout.description %> </p>
          </div>
          <div class="card-action">
            <a href="/workouts/<%=workout.id %>">Go To Workout</a>
          </div>
        </div>
      </div>
        <% }) %> 
</div>




<%- include('./partials/footer.ejs') %> 