<%- include('../partials/header.ejs') %> 

<h1>Edit: <%= exercise.name %> </h1>

<div class="row">
    <form class="col s12" action='/exercises/<%= exercise.id %>?_method=PUT' method="POST">
        <div class="row">
            <div class="input-field col s6">
                <input value="<%= exercise.name %>" name="name" id="name" type="text" class="validate">
                <label for="name" class="active" >Exercise Name</label>
            </div>
        </div>
        <div class="row"> 
            <div class="input-field col s6">
                <input value="<%= exercise.sets %> " name="sets" id="sets" type="text" class="validate">
                <label for="sets" class="active" ># of Sets</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6">
                <input value="<%= exercise.reps %>" name="reps" id="reps" type="text" class="validate">
                <label for="reps" class="active" ># of Reps</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input value="<%= exercise.equipment %>" name="equipment" id="equipment" type="text" class="validate">
                <label for="equipment" class="active" >Equipment</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input value="<%= exercise.vidDescription %>" id="vidDescription" name='vidDescription' type="text">
                <label for="vidDescription" class="active">Link to Video of Exercise</label>
            </div>
        </div>
        <div class="row">
            <p>
            <label>
                <input type="checkbox" class="filled-in" name="isSuperset"
                <% if(exercise.isSuperset) { %>
                    checked
                <% } %>
                 /> 
                <span>Is this a superset?</span>
              </label>
            </p>
        </div>
        <button class="btn waves-effect waves-light submit-button" type="submit">Update Exercise
            <i class="material-icons right">edit</i>
        </button>            
        </form>
    </div>





<%- include('../partials/footer.ejs') %> 
